.text-item {
  flex-direction: column;
  align-items: stretch;
}

.text-description {
  margin-bottom: 6px;
}

.text-title {
  margin: 0 0 12px 0 !important;
  font-size: 16px;
}

.text-params {
  font-size: 12px;
}

.pagination {
  margin-top: 12px;
}
