<nz-list [nzLoading]="isAnalysisResultsLoading()">
  @if (texts(); as texts) { @for (text of texts.items; track text.id) {
  <nz-list-item class="text-item">
    <p
      class="text-description"
      nz-typography
      nzType="secondary"
    >
      {{ text.content }}
    </p>
    <h4
      class="text-title"
      nz-typography
    >
      <a [routerLink]="`/saved/${text.id}`">{{text.title}}</a>
    </h4>
    <div
      nz-flex
      nzAlign="center"
      nzGap="middle"
      nzJustify="space-between"
      nzWrap="wrap"
    >
      <div
        nz-flex
        nzGap="middle"
        nzWrap="wrap"
      >
        <span
          nz-typography
          nzType="secondary"
        >
          Кількість: {{ text.n_final }}
        </span>
        <span
          nz-typography
          nzType="secondary"
        >
          Різноманітність: {{ text.diversity }}
        </span>
        <span
          nz-typography
          nzType="secondary"
        >
          Автопідбір: {{ text.use_semantic_n ? 'так' : 'ні' }}
        </span>
      </div>
      <span
        nz-typography
        nzType="secondary"
      >
        {{ text.created_at | date: 'dd.MM.y HH:mm' }}
      </span>
    </div>
  </nz-list-item>
  } @if (!texts.total_items) {
  <nz-list-empty />
  }
  <nz-pagination
    class="pagination"
    nzAlign="center"
    nzHideOnSinglePage
    nzResponsive
    [nzPageIndex]="page()"
    [nzPageSize]="pageSize()"
    [nzShowTotal]="totalTemplate"
    [nzTotal]="texts.total_items"
    (nzPageIndexChange)="onPageIndexChange($event)"
  />
  <ng-template
    #totalTemplate
    let-total
  >
    Всього записів: {{ total }}
  </ng-template>
  }
</nz-list>
