image: node:20

pages:
  stage: deploy

  cache:
    paths:
      - node_modules/

  script:
    - npm i -g @angular/cli
    - npm ci
    - ng build
    - mkdir -p public
    - ls dist
    - export APP_DIR=$(ls dist)
    - mv dist/$APP_DIR/browser/* public/

  artifacts:
    paths:
      - public

  only:
    - main
