image: node:20

stages:
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

variables:
  PUBLIC_URL: '/${CI_PROJECT_PATH}/'

build:
  stage: build
  script:
    - npm i -g @angular/cli
    - npm ci
    - ng build --base-href "$PUBLIC_URL" --deploy-url "$PUBLIC_URL"
  artifacts:
    paths:
      - dist/

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - export APP_DIR=$(ls dist)
    - mv dist/$APP_DIR/browser public
  artifacts:
    paths:
      - public
  only:
    - main
