.logo {
  float: left;
  background: #001529;
  padding-right: 24px;
  height: 64px;
  line-height: 64px;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.logo h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 15px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family:
    Avenir,
    Helvetica Neue,
    Arial,
    Helvetica,
    sans-serif;
}

.top-nav {
  line-height: 64px;
}
