:host {
  display: block;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background: #fff;
  padding: 0;
  height: 64px;
}

.header-trigger {
  transition:
    all 0.3s,
    padding 0s;
  cursor: pointer;
  padding: 20px 24px;
  height: 64px;
  font-size: 20px;
  user-select: none;
}

.trigger:hover {
  color: #1890ff;
}
