<div class="sidebar-logo">
  <a routerLink="/">
    <img
      src="logo.png"
      alt="logo"
    />
    <h1>ExtractLab</h1>
  </a>
</div>
<ul
  nz-menu
  nzMode="inline"
  nzTheme="dark"
  [nzInlineCollapsed]="isCollapsed()"
>
  <li
    nz-menu-item
    nzMatchRouter
  >
    <a routerLink="/extract">
      <nz-icon nzType="experiment" />
      <span>Аналіз</span>
    </a>
  </li>
  <li
    nz-menu-item
    nzMatchRouter
    nzMatchRouterExact
  >
    <a routerLink="/saved">
      <nz-icon nzType="star" />
      <span>Збережене</span>
    </a>
  </li>
  <li
    nz-menu-item
    nzMatchRouter
    nzMatchRouterExact
  >
    <a routerLink="/dashboard">
      <nz-icon nzType="dashboard" />
      <span>Dashboard</span>
    </a>
  </li>
</ul>
