:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.app-sider {
  position: relative;
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  min-height: 100vh;
}

nz-header {
  z-index: 2;
  padding: 0;
  width: 100%;
}

nz-content {
  margin: 24px;
}
