@if (isTextLoading()) {
<nz-skeleton [nzActive]="true" />
} @else if (isNotFound()) {
<nz-result
  nzStatus="404"
  nzSubTitle="Текст не знайдено."
  nzTitle="404"
>
  <div nz-result-extra>
    <a
      routerLink=".."
      nz-button
      nzType="primary"
    >
      Повернутися назад
    </a>
  </div>
</nz-result>
} @else if (text(); as text) {
<h1 nz-typography>{{ text.title }}</h1>

<p
  nz-typography
  nzType="secondary"
>
  {{ text.created_at | date: 'dd.MM.y HH:mm' }}
</p>

<h3 nz-typography>Ключові слова</h3>

<h3 nz-typography>Короткий зміст</h3>

<h4 nz-typography>Текст</h4>
<app-show-more [text]="text.content" />
}
