:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 18px;
}

.control {
  flex: 1;
  flex-direction: column;
}

.input-number {
  width: 100%;
}

.checkbox {
  user-select: none;
}
